@font-face {
    font-family: "Montserrat-Bold (700)";
    src: url("../fonts/Montserrat-Bold\ \(700\).ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Medium (500)";
    src: url("../fonts/Montserrat-Medium\ \(500\).ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Light (300)";
    src: url("../fonts/Montserrat-Light\ \(300\).ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto-Black (900)";
    src: url("../fonts/Roboto-Black\ \(900\).ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto-Bold (700)";
    src: url("../fonts/Roboto-Bold\ \(700\).ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto-Medium (500)";
    src: url("../fonts/Roboto-Medium\ \(500\).ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto-Regular (400)";
    src: url("../fonts/Roboto-Regular\ \(400\).ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto-Light (300)";
    src: url("../fonts/Roboto-Light\ \(300\).ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto-Thin (100)";
    src: url("../fonts/Roboto-Thin\ \(100\).ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "RussoOne-Regular (400)";
    src: url("../fonts/RussoOne-Regular\ \(400\).ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}