@media (max-width: 1850px) {
    .bar {
        justify-content: space-evenly;
    }

    .information {
        padding: 5em 1.7em 3em 1.7em !important;
    }

    .header__slider {
        .slick-dots {
            top: 45%;
            left: 97.5%;
        }
    }

    .about {
        padding: 15em 0.25em 10em 0.25em;
    }

    .skills {
        padding: 0 1em;
    }

    .footer__inner {
        padding: 100px 1em 100px 1em;
    }

    .about__img_team {
        margin-right: 1em !important;
    }

    .about__footer {
        padding: 0 0.25em 10em 0.25em;
    }

    .about__info {
        padding: 0 0.25em;
    }

    .contacts__footer {
        padding: 12em 0.5em 10em 0.5em;
    }
}

@media (max-width: 1600px) {
    .description {
        padding: 0;
    }

    .header__slider {
        .slick-dots {
            top: 45%;
            left: 98.5%;
        }
    }

    .slider-arw__testmn_right {
        left: 104% !important;
    }

    .slider-arw__testmn_left {
        left: -8% !important;
    }

    .products__cards {
        justify-content: space-evenly;
    }

    .products {
        margin: 10em 0 5em 0;
    }

    .relult_text {
        padding-left: 0.5em;
    }

    .position {
        margin-bottom: 2.5em;
    }

    .position__stage {
        font-size: 18px;
    }

    .card__box {
        padding: 0 0.25em;
    }

    .location__title {
        font-size: 44px;
        max-width: 100%;
    }

    // .form {
    //     &::after {
    //         left: 19%;
    //     }
    // }
}

@media (max-width: 1550px) {
    .slider-arw__testmn_right {
        left: 102% !important;
    }

    .slider-arw__testmn_left {
        left: -6% !important;
    }

    .selection {
        left: 6%;
    }

    .text__subtitle {
        margin-bottom: 0;
    }
}

@media (max-width: 1500px) {
    .slider-arw__testmn {
        top: 110% !important;
    }

    .slider-arw__testmn_right {
        left: 96% !important;
    }

    .slider-arw__testmn_left {
        left: 0% !important;
    }

    .card__slider-item {
        justify-content: space-evenly !important;
    }

    .card__box_last {
        margin-top: 5em;
    }

    .selection {
        left: 4.5%;
    }

    .selection__btn {
        padding: 1.5em 2em !important;
    }

    .selection__column {
        &::after {
            left: 45% !important;
        }
    }

    .about__section_2 {
        padding-left: 2em;
    }

    .position {
        margin-bottom: 2em;
    }

    .position__stage {
        font-size: 16px;
    }

    .location__title {
        font-size: 42px;
    }
}

@media (max-width: 1400px) {
    .about {
        padding: 10em 0.25em 5em 0.25em !important;
    }

    .about__text {
        padding-right: 1em !important;
        max-width: 650px !important;
    }

    .vendor {
        padding: 5em 1em 2em 1em;
    }

    .video {
        padding: 0 1em 56.25% 1em !important;
        height: auto !important;
    }

    .advantages {
        margin: 5em 0 5em 0 !important;
    }

    .overview {
        padding: 2em 0 !important;
    }

    .information {
        padding: 3em 2em 3em 2em !important;
    }

    .skills_small {
        top: 92% !important;
    }

    .skills_black {
        padding: 1em 1em !important;
    }

    .skills_black__img {
        height: 70px;
        width: 70px;
        min-width: 70px;
    }

    .skills_black__img-icon {
        top: 27%;
        left: 27%;
    }

    .selection {
        width: 90%;
        left: 5% !important;
    }

    .selection__column {
        &::after {
            left: 50% !important;
        }
    }

    .about_big {
        padding: 3em 0 5em 0 !important;
    }

    .position {
        max-width: 40%;
    }

    .tabs__position {
        max-width: 100%;
    }

    .about__section_5 {
        margin-top: 10em;
    }

    .location__text {
        margin-bottom: 5em;
    }

    .location__title {
        font-size: 40px;
    }
}

@media (max-width: 1366px) {
    .advantages {
        .text {
            &::before {
                content: url(../img/skill-bg_small.svg) !important;
                left: 23%;
            }
        }
    }

    .testimonials {
        .text {
            &::before {
                content: url(../img/testimonials-bg_small.svg) !important;
                left: 23%;
            }
        }
    }

    .social__img_icon {
        padding: 1em !important;
        width: 3.5em !important;
        height: 3.5em !important;
    }

    .selection__column {
        &::after {
            left: 55% !important;
        }
    }

    .card__price_third {
        left: 47%;
    }

    .card__slider-item {
        .card__price {
            left: 45%;
        }
    }

    .tabs__position-item.active {
        &::before {
            content: url(../img/tabs_mobileLD.svg);
        }
    }

    .location__title {
        font-size: 38px;
    }
}

@media (max-width: 1325px) {
    .information__img {
        max-width: 950px !important;
    }

    .footer__column {
        padding: 0 0.5em;
    }

    .overview {
        padding: 2em 0 0 0 !important;
    }

    .skills_black__title {
        padding-left: 0.5em;
    }

    .selection__column {
        &::after {
            left: 60% !important;
        }
    }

    .about__section_4 {
        padding-left: 1em;
    }

    .location__item {
        width: 24%;
    }
}

@media (max-width: 1235px) {
    .information__img {
        max-width: 900px !important;
    }

    .advantages {
        .text {
            &::before {
                left: 20%;
            }
        }
    }

    .testimonials {
        .text {
            &::before {
                left: 21%;
            }
        }
    }

    .testmnls-slider__text {
        padding: 0;
    }

    .about__text {
        max-width: 540px !important;
    }

    .header__slider {
        .slick-dots {
            top: 45%;
            left: 98.4%;
        }
    }

    .social__img_icon {
        padding: 0.75em !important;
        width: 3em !important;
        height: 3em !important;
    }

    .skills_black__title {
        font-size: 20px;
    }

    .position {
        max-width: 42%;
    }

    .tabs__position-item {
        font-size: 36px;
    }

    .location__item {
        .response-block__phone {
            font-size: 14px;
        }
    }
}

@media (max-width: 1200px) {
    .information {
        padding: 2em 1em 1.5em 0.5em !important;
    }

    .information__inner {
        top: 15%;
        left: 1%;
    }

    .information__subtitle {
        font-size: 32px !important;
        margin-bottom: 0 !important;
    }

    .information__descrpt {
        font-size: 18px !important;
        margin: 0 !important;
        opacity: 0.85 !important;
    }

    .information__price {
        margin: 2em 0 0 2.3em !important;
    }

    .btn--white {
        &::after {
            top: 38% !important;
        }
    }

    .about {
        padding: 15em 0 10em 0;
    }

    .skills {
        padding: 0 0.5em;
    }

    .slider-arw__testmn_right {
        left: 95.8% !important;
    }

    .slider-arw__testmn_left {
        left: 0% !important;
    }

    .response-block {
        width: 100%;
    }

    .header__slider {
        .slick-dots {
            display: flex;
            top: 96%;
            left: 50%;

            li {
                margin-right: 0.5em;
            }
        }
    }

    .selection__wrapper {
        padding: 1em 1em !important;
    }

    .selection__btn {
        padding: 1.5em 1em 1.5em 0 !important;
    }

    .position {
        max-width: 45%;
    }

    .tabs__position-item {
        font-size: 30px;
    }

    .img_small {
        width: 240px;
        height: 240px;
    }

    .card__price_singly {
        margin-right: 1em;
    }

}

@media (max-width: 1150px) {
    .products {
        .text {
            &::before {
                content: url(../img/products-bg_small.svg) !important;
                left: 4%;
            }
        }
    }

    .advantages {
        .text {
            &::before {
                left: 16%;
            }
        }
    }

    .testimonials {
        .text {
            &::before {
                left: 17%;
            }
        }
    }

    .header__slider {
        .slick-dots {
            display: block;
            top: 45%;
            left: 97%;

            li {
                margin-right: 0.5em;
            }
        }
    }

    .column__title {
        font-size: 22px !important;
    }

    .information {
        padding: 0 0.5em 2em 0.5em !important;
    }

    .information__inner {
        margin: 0 0 0 0.5em;
        top: 12%;
    }

    .information__descrpt {
        opacity: 1 !important;
    }

    .information__img {
        max-width: 100% !important;
        margin: 0 !important;
    }

    .information__price_subtitle {
        margin-bottom: 0.5em !important;
        font-size: 28px !important;
    }

    .btn--white {
        font-size: 14px;

        &::after {
            top: 37% !important;
        }
    }

    .slider-arw__header_left {
        left: 79.2% !important;
    }

    .slider-arw__header_right {
        left: 89.7% !important;
    }

    .slider-arw__testmn_right {
        left: 95% !important;
    }

    .slider-arw__testmn_left {
        left: 0 !important;
    }

    .badges__circle_left {
        left: 40%;
    }

    .badges__circle_right {
        left: 55%;
    }

    .slick-dots {
        display: flex !important;
        top: 95% !important;
        left: 50% !important;
    }

    .btn--yellow {
        font-size: 18px !important;
    }

    .about__footer {
        padding: 0 0.25em 5em 0.25em;
    }

    .card__price_third {
        left: 40%;
    }

    .position {
        max-width: 48%;
    }

    .about__header {
        margin-bottom: 8em;
    }

    .img_small {
        width: 230px;
        height: 230px;
    }

    .gallary__img_1 {
        margin-right: 0.75em;
    }

    .gallary__inner_btm {
        margin-top: 0.75em;
    }

    .tabs__position-item {
        font-size: 29px;
    }

    .location__wrapper {
        flex-wrap: wrap;
    }

    .location__item {
        min-width: 48%;
        margin-bottom: 2.5em;
        padding: 6em 1.5em 6em 4em;
    }

    .location__country {
        margin-bottom: 2em;
    }

    .location__item-subtitle {
        margin-bottom: 2em;
    }

    .location__text {
        flex-direction: column;
        text-align: center;
    }

    .location__subtitle {
        width: auto;
    }
}

@media (max-width: 1024px) {
    .information {
        height: 500px !important;
        padding: 0 !important;
    }

    .information__img {
        height: 100% !important;
    }

    .information__inner {
        top: 10%;
    }

    .information__subtitle {
        font-size: 32px !important;
        margin-bottom: 0 !important;
    }

    .information__descrpt {
        font-size: 14px !important;
    }

    .information__price {
        margin: 1em 0 0 2.3em !important;
    }

    .information__price_subtitle {
        font-size: 24px !important;
        margin-bottom: 0.5em !important;
    }

    .btn--white {
        &::after {
            top: 38% !important;
        }
    }

    .about {
        padding: 5em 0 2.5em 0 !important;
        flex-direction: column;
    }

    .btn--yellow {
        display: none;
    }

    .btn--yellow_mobile {
        display: block !important;
        margin: 2em auto 0 auto !important;
    }

    .btn--products {
        display: block;
    }

    .about__text {
        text-align: center;
        margin-bottom: 2em;
        max-width: 100% !important;
        padding-right: 0 !important;
    }

    .about__img {
        width: 100%;
    }

    .about__descrpt {
        width: 80%;
        margin: 0 auto;
    }

    .description {
        flex-direction: column !important;
        padding: 0 !important;
    }

    .description__section_1 {
        padding: 0 !important;
        width: 100% !important;
        margin: 4em 0 2em 0;
    }

    .description__section_2 {
        width: 100%;
    }

    .description__slider {
        width: 100% !important;
        height: 420px !important;
    }

    .products {
        margin: 10em 0 2.5em 0;
    }

    .vendor__menu {
        .menu__link {
            font-size: 22px !important;
        }
    }

    .advantages {
        .text {
            &::before {
                top: -16%;
                left: 13%;
            }
        }
    }

    .testimonials {
        .text {
            &::before {
                left: 16%;
                top: -22%;
            }
        }
    }

    .badges__circle_left {
        left: 38%;
    }

    .badges__circle_mid {
        left: 43.5%;
    }

    .badges__circle_right {
        left: 53%;
    }

    .text {
        padding: 0.5em !important;
    }

    .text_fourth {
        padding: 6em 0 !important;
    }

    .btn--black {
        font-size: 13px;
    }

    .header__menu {
        .menu__link {
            font-size: 14px;
        }

        .menu__item {
            margin-right: 2em;
        }
    }

    .slider-arw__header {
        top: 86.8% !important;
    }

    .slider-arw__header_right {
        left: 94.6% !important;
    }

    .slider-arw__header_left {
        left: 89.3% !important;
    }

    .testmnls-slider__img {
        width: 100% !important;
    }

    .testmnls-slider__text {
        max-width: 55%;
    }

    .slider__img {
        width: 100%;
    }

    .slick-dots {
        top: 94% !important;
        left: 50% !important;
    }

    .footer__text {
        margin-bottom: 1em;
    }

    .social__img_icon {
        padding: 0.55em !important;
        width: 2.5em !important;
        height: 2.5em !important;
    }

    .about_first {
        padding: 15em 0 5em 0 !important;
    }

    .text_first {
        padding: 5em 0 10em 0 !important;
    }

    .about__text_first {
        margin-top: 4em;
    }

    .about__img_team {
        margin-right: 0 !important;
        width: 100%;
    }

    .about__img_history {
        width: 100%;
    }

    .skills_small {
        top: 89% !important;
    }

    .response-wrapper {
        margin-top: 2em;
    }

    .text_second {
        padding: 5em 0 14em 0 !important;
    }

    .relult_text {
        font-size: 24px;
    }

    .selection__column {
        &::after {
            left: 65% !important;
            top: 57% !important;
        }
    }

    .card__box {
        padding: 0 0.25em;
    }

    .about__info {
        flex-direction: column;
    }

    .about__img_big {
        height: 580px;
        width: 100%;
    }

    .position {
        max-width: 90%;
        margin: 0 auto 2em auto;
    }

    .about__section_2 {
        display: none;
    }

    .about__section_2_mobile {
        display: block;
        margin-top: 5em;
    }

    .card__box_about {
        .card__footer {
            height: auto;
            padding: 15em 0 0 0;
        }
    }

    .card__price_singly {
        margin-right: 0;
    }

    .tabs__position {
        justify-content: space-evenly;
    }

    .tabs__position-item {
        font-size: 26px;
    }

    .about__header {
        margin-bottom: 6em;
    }

    .about__footer {
        flex-direction: column;
        padding: 0 0.25em 8em 0.25em;
    }

    .about__section_3 {
        max-width: 100%;
    }

    .about__section_4 {
        padding-left: 0;
    }

    .img_small {
        width: 100%;
    }

    .gallary {
        margin-top: 6em;
    }

    .gallary__img_3 {
        margin-right: 0.75em;
    }

    .rating {
        align-items: center;

        &::before {
            top: 85%;
            left: 5%;
        }
    }

    .about_big {
        padding: 3em 0 5em 0 !important;
    }

    .contacts__footer {
        padding: 8em 0.5em 5em 0.5em;
    }

    .menu__item.active {
        &::before {
            top: 80% !important;
        }
    }
}

@media (max-width: 960px) {
    .slider-arw__testmn_right {
        left: 94.5% !important;
    }

    .slider-arw__testmn_left {
        left: 0.5% !important;
    }

    .slider-arw__header_right {
        left: 94.5% !important;
    }

    .slider-arw__header_left {
        left: 88.7% !important;
    }

    .img {
        height: 100vh !important;
    }

    .advantages {
        .text {
            &::before {
                left: 10%;
            }
        }
    }

    .testimonials {
        .text {
            &::before {
                left: 12%;
            }
        }
    }

    .social__img_icon {
        padding: 0.45em !important;
        width: 2em !important;
        height: 2em !important;
    }

    .btn--yellow {
        width: 15em !important;
    }

    .selection__wrapper {
        padding: 1em 0 1em 1em !important;
    }

    .products_second {
        margin: 12em 0 10em 0 !important;
    }

    .card__price_third {
        left: 32%;
    }

    .form {
        &::after {
            display: none;
        }
    }

    .tabs__position-item.active {
        &::before {
            content: url(../img/tabs_mobileLD.svg);
        }
    }
}

@media (max-width: 840px) {
    .information {
        height: 450px !important;
    }

    .information__subtitle {
        font-size: 28px !important;
        margin-bottom: 0 !important;
    }

    .information__descrpt {
        font-size: 14px !important;
        margin-bottom: 0 !important;
    }

    .btn--white {
        max-width: 12em !important;
        padding: 1em 1em;

        &::after {
            top: 38% !important;
            right: 5% !important;
            border-bottom-width: 5px !important;
            border-top-width: 5px !important;
            border-left: 8px solid black !important;
        }
    }

    .products {
        .text {
            &::before {
                content: url(../img/products-bg_tablet.svg) !important;
                left: 18%;
                top: -13%;
            }
        }
    }

    .advantages {
        .text {
            &::before {
                content: url(../img/skill-bg_tablet.svg) !important;
                left: 15%;
            }
        }
    }

    .testimonials {
        .text {
            &::before {
                content: url(../img/testimonials-bg_tablet.svg) !important;
                left: 18%;
            }
        }
    }

    .testmnls-slider__decoration {
        display: none;
    }

    .vendor__title {
        margin-bottom: 1em;
    }

    .vendor__menu {
        .menu__link {
            font-size: 20px !important;
        }
    }

    .slider-arw__testmn_right {
        left: 93% !important;
    }

    .slider-arw__testmn_left {
        left: 0.6% !important;
        z-index: 1;
    }

    .slider-arw__header_right {
        left: 93.5% !important;
    }

    .slider-arw__header_left {
        left: 86.9% !important;
    }

    .slick-dots {
        top: 93% !important;
        left: 47% !important;

        button {
            width: 6px !important;
            height: 12px !important;
        }
    }

    .badges__circle_left {
        left: 35%;
    }

    .badges__circle_mid {
        left: 42.1%;
    }

    .badges__circle_right {
        left: 54%;
    }

    .footer__inner {
        padding: 7em 0 2em 0;
        grid-row-gap: 2em;
        grid-template-columns: 40% 30% 30%;
        grid-template-areas:
            "a b c"
            "d d d";
    }

    .footer-input__title {
        margin-bottom: 0 !important;
    }

    .footer-input__text {
        margin-bottom: 2em;
    }

    .btn--yellow {
        width: 12em !important;
    }

    .selection__column {
        &::after {
            left: 65% !important;
        }
    }

    .about__img_big {
        height: 50vh !important;
    }

    .card__price_third {
        left: 45%;
    }
}

@media (max-width: 768px) {
    .bar {
        display: none;
    }

    .bar-mobile {
        display: flex;
    }

    .btn--white {
        font-size: 12px;
        padding: 1em 1.2em 1em 0.75em;

        &::after {
            top: 42% !important;
            right: 5% !important;
            border-bottom-width: 3.5px !important;
            border-top-width: 3.5px !important;
            border-left: 6px solid black !important;
        }
    }

    .header__menu .menu__item {
        margin-right: 0 !important;
    }

    .information__title {
        margin: 0 !important;
    }

    .information__subtitle {
        font-size: 24px !important;
    }

    .information__descrpt {
        font-size: 12px !important;
        margin: 0 !important;
    }

    .information__price {
        margin: 0.5em 0 0 2.3em !important;
    }

    .products {
        .text {
            &::before {
                content: url(../img/products-bg_tablet.svg) !important;
                left: 13%;
                top: -13%;
            }
        }
    }

    .advantages {
        .text {
            &::before {
                content: url(../img/skill-bg_tablet.svg) !important;
                left: 11%;
            }
        }
    }

    .testimonials {
        .text {
            &::before {
                content: url(../img/testimonials-bg_tablet.svg) !important;
                left: 14%;
            }
        }
    }

    .testmnls-slider__decoration {
        height: 80px;
        width: 100px;
    }

    .testmnls-slider__text {
        font-size: 14px;
        max-width: 50%;
    }

    .badges__circle_left {
        left: 34%;
    }

    .badges__circle_mid {
        left: 41.5%;
    }

    .description__slider {
        height: 380px !important;
    }

    .slider-arw__header {
        top: 85.7% !important;
    }

    .slider-arw__header_right {
        left: 93% !important;
    }

    .slider-arw__header_left {
        left: 85.8% !important;
    }

    .relult_text {
        font-size: 22px;
    }

    .value {
        font-size: 16px !important;
    }

    .selection {
        top: 90% !important;
    }

    .selection__btn {
        padding: 1.2em 1em 1.2em 0 !important;
    }

    .btn--yellow {
        width: 12em !important;
        font-size: 16px !important;
    }

    .sort__text {
        margin-right: 2.5em;
    }

    .about__wrapper {
        flex-direction: column;
    }

    .about__descrpt {
        width: 100%;
    }

    .btn--bar {
        margin-right: 1em;
    }

    .card__price_third {
        left: 37%;
    }

    .contacts__form {
        padding: 0 0.5em;
    }

    .form__btn {
        .btn--yellow {
            width: 11em !important;
        }
    }

    .form__section_4 {
        min-width: 55%;
    }

    .checkBox {
        justify-content: center;
    }
}

@media (max-width: 678px) {
    .img {
        height: 100vh !important;
    }

    .advantages {
        margin: 8em 0 5em 0 !important;

        .text {
            &::before {
                left: 5%;
            }
        }
    }

    .products {
        margin: 8em 0 2.5em 0;

        .text {
            &::before {
                left: 10%;
            }
        }
    }

    .testimonials {
        .text {
            &::before {
                left: 8%;
            }
        }
    }

    .testmnls-slider__decoration {
        height: 70px;
        width: 95px;
    }

    .testmnls-slider__text {
        max-width: 45%;
    }

    .badges__circle_left {
        left: 32%;
    }

    .badges__circle_mid {
        left: 40%;
    }

    .vendor {
        padding: 2em 0 3em 0;
    }

    .vendor__title {
        font-size: 40px !important;
    }

    .vendor__menu {
        .menu__link {
            font-size: 18px !important;
        }
    }

    .description__slider {
        height: 280px !important;
    }

    .slider-arw__testmn_right {
        left: 92% !important;
    }

    .slider-arw__header_right {
        left: 92.5% !important;
    }

    .slider-arw__header_left {
        left: 84.5% !important;
    }

    .slider-arw__header {
        top: 80.2% !important;
    }

    .slider-arw__header_right {
        left: 91.4% !important;
    }

    .slider-arw__header_left {
        left: 82.9% !important;
    }

    .response--btn {
        font-size: 14px !important;
    }

    .response-block__phone {
        font-size: 14px !important;
    }

    .card__slider-item {
        .card__price {
            left: 33%;
        }
    }

    .skills_black {
        flex-direction: column;
        justify-content: flex-start;
    }

    .skills_black__title {
        padding-left: 0;
        margin-top: 0.5em;
    }

    .about_first {
        padding: 15em 0 0 0 !important;
    }

    .relult_text {
        font-size: 18px;
    }

    .sort__text {
        margin-right: 1.5em;
    }

    .selection {
        flex-direction: column !important;
    }

    .selection__btn {
        padding: 0 0 0.5em 0 !important;
    }

    .btn--yellow {
        padding: 1.1em 1.5em !important;
    }

    .selection__wrapper {
        padding: 1em 1em !important;
        justify-content: space-around !important;
    }

    .selection__column {
        width: auto !important;

        &::after {
            left: 110% !important;
        }
    }

    .products_second {
        margin: 10em 0 10em 0 !important;
    }

    .products__sort {
        display: none;
    }

    .products__sort_mobile {
        display: block;
        margin-bottom: 3em;
    }

    .sort {
        display: flex;
        flex-direction: column;
    }

    .sort__relult {
        width: 100%;
    }

    .relult_text {
        text-align: center;
        padding-left: 0;
    }

    .sort__option {
        padding: 0 !important;

        &::after {
            top: 35%;
            left: 107% !important;
        }
    }

    .services__section_2 {
        .skills {
            flex-direction: column;

            :nth-child(3) {
                margin-bottom: 0;
            }
        }
    }

    .skills__item {
        max-width: 100% !important;
        margin-bottom: 5em;
    }

    .skills__img {
        margin: 0 auto 2em auto;
    }

    .form__subject_title {
        top: 20%;
    }

    .form__message_title {
        top: 35%;
    }
}

@media (max-width: 600px) {
    .information {
        height: 360px !important;
    }

    .information__descrpt {
        font-size: 10px !important;
        line-height: 14px;
    }

    .img {
        height: 100vh !important;
    }

    .slick-dots {
        top: 90% !important;
    }

    .vendor__menu {
        .menu__link {
            font-size: 16px !important;
        }
    }

    .advantages {
        .text {
            &::before {
                content: url(../img/skill-bg_mobile.svg) !important;
                left: 4%;
            }
        }
    }

    .skills__img {
        margin: 0 auto 40px auto !important;
    }

    .skills__title {
        font-size: 26px;
    }

    .products {
        .text {
            &::before {
                content: url(../img/products-bg_mobile.svg) !important;
                left: 8%;
            }
        }
    }

    .testimonials {
        .text {
            &::before {
                content: url(../img/testimonials-bg_mobile.svg) !important;
                left: 8%;
            }
        }
    }

    .badges__circle_left {
        left: 28% !important;
    }

    .badges__circle_mid {
        left: 38% !important;
    }

    .badges__circle_right {
        left: 56% !important;
    }

    .text__subtitle {
        font-size: 55px !important;
    }

    // .testmnls-slider__text {
    //     max-width: 55%;
    // }

    .slider-arw__testmn_right {
        left: 90.5% !important;
    }

    .slider-arw__header {
        top: 80.2% !important;
    }

    .slider-arw__header_right {
        left: 90.7% !important;
    }

    .slider-arw__header_left {
        left: 81.5% !important;
    }

    .response-block__phone {
        padding: 1.41em 0.9em;
    }

    .about_first {
        padding: 15em 0 0 0 !important;
    }

    .position {
        max-width: 95%;
    }

    .about__slider-item {
        justify-content: center !important;
    }

    .text__subtitle {
        text-align: center !important;
    }

    .card__price_third {
        left: 50%;
    }

    .card__slider-item {
        justify-content: center !important;
    }

    .card__box {
        margin-left: auto;
        margin-right: auto;
    }

    .card__slider-item .card__price {
        left: 47%;
    }

    .checkBox__label {
        margin-left: 0.5em !important;
    }

    .form__section_4 {
        min-width: 100%;
    }

    .location__item {
        padding: 5em 1.5em 5em 2em;
    }

    .form__email_title {
        top: 7%;
    }

    .form__name_title {
        top: 7%;
    }

    .form__subject_title {
        top: 23%;
    }

    .form__message_title {
        top: 39%;
    }
}

@media (max-width: 520px) {
    .information {
        height: 320px !important;
    }

    .services__section_1 {
        padding: 4em 0.5em;
    }

    .services__section_2 {
        padding: 6em 0 5em 0;
    }

    .services__section_5 {
        margin-top: 0;
    }

    .img {
        height: 50vh !important;
    }

    .advantages {
        .text {
            &::before {
                left: 0%;
            }
        }
    }

    .products {
        .text {
            &::before {
                left: 2%;
            }
        }
    }

    .testimonials {
        .text {
            &::before {
                left: 2%;
            }
        }
    }

    .testmnls-slider__text {
        font-size: 12px;
        max-width: 100%;
        margin: 0;
        padding: 1em;
    }

    .testmnls-slider__item {
        display: flex;
        flex-direction: column;
        height: auto !important;
    }

    .response-block__inner {
        padding: 0 10% 0 10% !important;
    }

    .vendor__menu {
        .menu__link {
            font-size: 15px !important;
        }

        .slider-item {
            padding: 0 0.5em !important;
        }
    }

    .slider-arw__header_right {
        left: 89.4% !important;
    }

    .slider-arw__header_left {
        left: 78.8% !important;
    }

    .slider-arw__testmn_right {
        left: 90% !important;
    }

    .text_second {
        padding: 5em 0 10em 0 !important;
    }

    .position__stage {
        font-size: 14px;
    }

    .tabs__position-item {
        font-size: 24px;
    }

    .location__item {
        min-width: 100%;
        padding: 5em 1.5em 5em 5em;
    }

    .location__item {
        .response-block__phone {
            font-size: 16px !important;
        }
    }
}

@media (max-width: 480px) {
    .information__inner {
        margin: 0 !important;
    }

    .information__text {
        padding-left: 0.75em !important;
    }

    .information__price {
        margin: 0.5em 0 0 1em !important;
    }

    .btn--white {
        font-size: 10px;
        padding: 0.55em 1.2em 0.55em 0.75em;

        &::after {
            top: 40% !important;
            border-left: 4.5px solid black !important;
        }
    }

    .slider-arw__header_left {
        left: 73.4% !important;
    }

    .slider-arw__header_right {
        left: 86.6% !important;
    }

    .description__slider {
        height: 250px !important;
    }

    .bar-mobile {
        .logo {
            margin-left: 0.75em !important;
        }
    }

    .bar-mobile .btn--black {
        margin-right: 0.75em;
    }

    .advantages {
        .text {
            &::before {
                content: url(../img/skill-bg_mobilePT.svg) !important;
                left: 8%;
                top: -3%;
            }
        }
    }

    .products {
        margin: 5em 0 2.5em 0;

        .text {
            &::before {
                content: url(../img/products-bg_mobilePT.svg) !important;
                left: 7%;
                top: -6% !important;
            }
        }
    }

    .testimonials {
        .text {
            &::before {
                content: url(../img/testimonials-bg_mobilePT.svg) !important;
                left: 7%;
                top: -7% !important;
            }
        }
    }

    .card__price {
        left: 50%;
    }

    .testmnls-slider__item {
        height: auto !important;
    }

    .testmnls-slider__text {
        font-size: 12px !important;
    }

    .slider-arw__testmn {
        display: none !important;
    }

    .slider-arw__testmn_right {
        left: 89.8% !important;
    }

    .text__title {
        margin-bottom: 0 !important;
    }

    .text__subtitle {
        font-size: 40px !important;
        margin-bottom: 0.5em !important;
    }

    .badges__circle_left {
        left: 22% !important;
    }

    .badges__circle_mid {
        left: 35% !important;
    }

    .badges__circle_right {
        left: 60% !important;
    }

    .response--btn {
        font-size: 12px !important;
    }

    .response-block__phone {
        font-size: 12px !important;
        padding: 1.35em 1em !important;
    }

    #vendor__slider {
        display: none !important;
    }

    #vendor__slider-mobile {
        display: block !important;
    }

    .social__img_icon {
        padding: 0.3em !important;
        width: 1.8em !important;
        height: 1.8em !important;
    }

    .about_first {
        padding: 15em 0 2em 0 !important;
    }

    .advantages_first {
        margin: 5em 0 5em 0 !important;
    }

    .value {
        font-size: 15px !important;
    }

    .selection__wrapper {
        justify-content: space-around !important;
    }

    .selection__column {
        &::after {
            top: 58% !important;
            left: 105% !important;
        }
    }

    .selection__valueBrad {
        font-size: 14px !important;
    }

    .selection__valueClass {
        font-size: 14px !important;
    }

    .selection__valueModel {
        font-size: 14px !important;
    }

    .selection__valueYear {
        font-size: 14px !important;
    }

    .rating {
        padding: 10em 3em !important;
    }

    .rating__score {
        font-size: 134px;
    }

    .rating__score_second {
        font-size: 24px;
    }

    .position {
        max-width: 100%;
    }

    .tabs__position-item {
        font-size: 22px;
    }

    .position__img {
        margin-left: 0.5em;
    }

    .position__item {
        padding-left: 1em;
    }

    .tabs__menu {
        margin-bottom: 3em;
    }

    .card__price_singly {
        width: auto;
        padding: 0 2em;

        .price {
            font-size: 24px;
        }
    }

    .response-block__phone_black {
        padding: 2.5em 1em !important;
    }

    .form__text {
        font-size: 14px;
    }
}

@media (max-width: 411px) {
    .logo {
        font-size: 18px !important;
    }

    .footer {
        .logo {
            font-size: 20px !important;
        }
    }

    .btn--black {
        font-size: 12px !important;
        padding: 1.2em 1.2em !important;
    }

    .header__menu {
        .menu__item {
            margin-right: 0;
        }
    }

    .menu__link {
        font-size: 14px !important;
    }

    .menu__item_title {
        .menu__link {
            font-size: 14px !important;
        }
    }

    .header__slider {
        margin: 1em 0 0 0 !important;
    }

    .slick-dots {
        display: none !important;
    }

    .information {
        height: 200px !important;
    }

    .information__text {
        width: 240px;
        padding-left: 0.75em !important;
    }

    .information__title {
        font-size: 8px !important;
    }

    .information__subtitle {
        font-size: 10px !important;
        line-height: 24px !important;
    }

    .information__descrpt {
        font-size: 8px !important;
        line-height: 10px !important;
    }

    .information__price {
        margin: 0.3em 0 0 0.8em !important;
    }

    .information__price_title {
        font-size: 10px !important;
    }

    .information__price_subtitle {
        font-size: 12px !important;
        line-height: 22px !important;
    }

    .btn--white {
        font-size: 6px;
        max-width: 14.5em !important;
        padding-right: 0em 0.5em 0 0.75em;
        max-height: 5em;

        &::after {
            left: 87% !important;
            top: 43% !important;
            border-bottom-width: 2.5px !important;
            border-top-width: 2.5px !important;
            border-left: 4.5px solid black !important;
        }
    }

    .btn--yellow::after {
        top: 32%;
    }

    .btn--bar {
        max-width: 13em !important;
        font-size: 14px !important;
        margin-right: 1em;
    }

    .description__section_1 {
        margin: 2em 0 2em 0;
        flex-direction: column !important;

        :nth-child(2) {
            margin-bottom: 0;
        }
    }

    .description__column {
        min-width: 100% !important;
        padding: 2px 10px !important;
        margin-bottom: 2em;

        .column__title {
            text-align: center;
        }
    }

    .description__slider {
        height: 200px !important;
    }

    .slider-arw__header {
        display: none !important;
    }

    .about__subtitle {
        font-size: 32px !important;
    }

    .about__descrpt {
        width: 90%;
    }

    .about__text {
        padding-right: 0 !important;
    }

    .text__descrpt {
        max-width: 90%;
    }

    .text {
        padding: 0 !important;
    }

    .text_fourth {
        padding: 4em 0 !important;
    }

    .products {
        .text {
            &::before {
                display: none;
                content: url(../img/products-bg_320.svg);
                left: 1%;
            }
        }
    }

    .text__subtitle {
        font-size: 28px !important;
    }

    .card__price {
        width: 120px;
        height: 60px;
        left: 54%;
        top: 46%;
    }

    .price {
        font-size: 20px !important;
    }

    .passenger {
        left: 60% !important;
    }

    .ValuePassenger {
        left: 60% !important;
    }

    .advantages {
        margin: 4em 0 5em 0 !important;

        .text {
            margin-bottom: 30px;

            &::before {
                display: none;
                content: url(../img/skill-bg_320.svg);
                left: -1%;
            }
        }
    }

    .skills {
        display: flex;
        flex-direction: column;

        :nth-child(3) {
            margin-bottom: 0;
        }
    }

    .skills__title {
        margin-bottom: 24px;
    }

    .skills__item {
        max-width: 100%;
        margin-bottom: 4em;
    }

    .testimonials {
        padding: 5em 0 0 0 !important;

        .text {
            &::before {
                display: none;
                left: -2%;
                top: -10% !important;
            }
        }
    }

    .products {
        margin: 5em 0 2em 0 !important;
    }

    .badges__circle_left {
        left: 18% !important;
    }

    .badges__circle_mid {
        left: 32%;
    }

    .badges__circle_right {
        left: 58% !important;
    }

    .response-block__inner {
        padding: 0 5% !important;
    }

    .response-block__title {
        font-size: 40px;
    }

    .response-block__subtitle {
        font-size: 16px;
    }

    .response--btn {
        font-size: 10px !important;
    }

    .response-block__phone {
        font-size: 10px !important;
        padding: 1.35em 0.5em !important;
    }

    .copyrite__text {
        padding: 0 0.5em;
        font-size: 13px !important;
    }

    .footer__inner {
        grid-template-columns: auto;
        text-align: center;
        grid-template-areas:
            "a a"
            "b c"
            "d d";
    }

    .footer-input__text {
        max-width: 100% !important;
    }

    .menu__item_title {
        margin-bottom: 10px !important;
    }

    .bar-mobile {
        .logo {
            font-size: 16px !important;
        }
    }

    .about_first {
        padding: 12em 0 2em 0 !important;
    }

    .text_first {
        padding: 5em 0 15em 0 !important;
    }

    .skills_small {
        flex-direction: row !important;
        top: 75% !important;
    }

    .text_second {
        padding: 5em 0 10em 0 !important;
    }

    .pagination__inner {
        padding: 0 0.5em;
    }

    .pagination__items {
        padding-right: 0.5em;
    }

    .pagntn__btn {
        font-size: 15.5px !important;
    }

    .selection {
        width: 94%;
        left: 3% !important;
    }

    .selection__wrapper {
        padding: 0.85em 0.65em 0.85em 0 !important;
    }

    .selection__column {
        &::after {
            content: url(../img/selection-arrw_MB.svg) !important;
            left: 105% !important;
            top: 53% !important;
        }
    }

    .selection__valueBrad {
        font-size: 13px !important;
    }

    .selection__valueClass {
        font-size: 13px !important;
    }

    .selection__valueModel {
        font-size: 13px !important;
    }

    .selection__valueYear {
        font-size: 13px !important;
    }

    .btn--yellow {
        padding: 0.75em !important;
        font-size: 14px !important;
    }

    .products_second {
        margin: 10em 0 10em 0 !important;
    }

    .card__slider-item .card__price {
        left: 55%;
    }

    .tabs__position-item {
        font-size: 18px;
    }

    .response-block__phone_black {
        padding: 1em !important;
        font-size: 12px !important;
    }

    .btn--bar {
        font-size: 12px !important;
        padding: 1.2em !important;
    }

    .about_big {
        padding: 2.5em 0 5em 0 !important;
    }

    .tabs__position-item.active {
        &::before {
            content: url(../img/tabs_mobilePT.svg);
            top: 55%;
        }
    }

    .position__img {
        display: none;
    }

    .position__item {
        padding-left: 0.5em;
    }

    .position__img-mobile {
        display: block;
        margin-left: 0.75em;
    }

    .rating {
        padding: 10em 1em !important;
    }

    .about__section_5 {
        margin-top: 5em;
    }

    .card__price_third {
        left: 60%;
    }

    .contacts__background {
        top: 5%;
    }

    .contacts__footer {
        padding: 6em 0.5em 5em 0.5em;
    }

    .location__item {
        .response-block__phone {
            padding: 1.05em 1em !important;
        }
    }
}

@media (max-width: 380px) {
    .card__price_singly {
        padding: 0 1em;
    }

    .position__stage {
        font-size: 12px;
    }

    .position__item {
        padding-left: 0.5em;
    }

    .position__img {
        margin-left: 0;
    }

    .rating {
        padding: 8em 1em !important;
    }

    .rating__score {
        font-size: 126px;
    }

    .rating__score_second {
        font-size: 20px;
    }

    .img_small {
        height: 200px;
    }

    .about__footer {
        padding: 0 0.25em 5em 0.25em;
    }

    .card__price_third {
        left: 55%;
    }

    .testimonials {
        padding: 1em 0 0 0 !important;
    }

    .selection__column {
        &::after {
            top: 54% !important;
        }
    }

    .tabs__position {
        justify-content: space-between;
    }

    .location__item {
        padding: 5em 1.5em 5em 2.5em;
    }
}

@media (max-width: 320px) {
    .logo {
        font-size: 14px !important;
    }

    .btn--black {
        font-size: 11px !important;
    }

    .description__slider {
        height: 165px !important;
    }

    .description__slider-item {
        height: auto !important;
    }

    .badges__circle_left {
        left: 10% !important;
    }

    .badges__circle_mid {
        left: 29% !important;
    }

    .badges__circle_right {
        left: 60% !important;
    }

    .testimonials {
        padding: 5em 0 0 0 !important;
    }

    .bar-mobile {
        .logo {
            font-size: 16px !important;
            margin-left: 0.3em !important;
        }
    }

    .btn--black {
        margin-right: 0.3em !important;
    }

    .about_first {
        padding: 15em 0 2em 0 !important;
    }

    .skills_small {
        top: 74% !important;
    }

    .advantages_first {
        margin: 5em 0 1em 0 !important;
    }

    .footer__text_logo {
        .logo {
            margin-bottom: 0 !important;
        }
    }

    .response-wrapper {
        margin-top: 2em;
    }

    .selection__column {
        &::after {
            top: 55% !important;
        }
    }

    .selection {
        width: 100%;
        left: 0 !important;
    }

    .card__price_singly {
        padding: 0 1em;
    }

    .price {
        font-size: 18px !important;
    }

    .position__img-mobile {
        margin-left: 0;
    }

    .position__item {
        padding-left: 0.25em;
    }

    .rating {
        padding: 6em 1em !important;
    }

    .rating__score {
        font-size: 118px;
    }

    .rating__score_second {
        font-size: 16px;
    }

    .selection__wrapper {
        padding: 0.85em 0.65em 0.25em 0 !important;
    }

    .selection__btn {
        width: 100% !important;
        padding: 0 0.25em 0.85em 0.25em !important;
    }

    .selection__btn {
        .btn--yellow {
            max-width: 100% !important;
            width: 100% !important;
        }
    }

    .card__price_third {
        left: 50%;
    }

    .checkBox__label {
        font-size: 16px !important;
    }
}