%monts-bold {
    font-family: "Montserrat-Bold (700)";
    font-weight: 700;
}

%monts-medium {
    font-family: "Montserrat-Medium (500)";
    font-weight: 500;
}

%monts-light {
    font-family: "Montserrat-Light (300)";
    font-weight: 300;
}

%rb-black {
    font-family: "Roboto-Black (900)";
    font-weight: 900;
}

%rb-bold {
    font-family: "Roboto-Bold (700)";
    font-weight: 700;
}

%rb-medium {
    font-family: "Roboto-Medium (500)";
    font-weight: 500;
}

%rb-regular {
    font-family: "Roboto-Regular (400)";
    font-weight: 400;
}

%rb-light {
    font-family: "Roboto-Light (300)";
    font-weight: 300;
}

%rb-thin {
    font-family: "Roboto-Thin (100)";
    font-weight: 100;
}

%rus-regular {
    font-family: "RussoOne-Regular (400)";
    font-weight: 400;
}