@import "global";
@import "vars";
@import "fonts";

.header {
    .menu__item {
        margin-right: 4em;

        &:nth-child(5) {
            margin: 0;
        }
    }

    &__inner {
        position: relative;
        background-color: $dark;
    }

    &__slider {
        overflow: hidden;

        .slick-dots {
            position: absolute;
            top: 45%;
            left: 93%;

            button {
                background-color: $gray;
                font-size: 0;
                width: 6px;
                height: 12px;
                border-radius: 50%;
            }

            .slick-active {
                color: $yellow;
            }
        }

        .header__slider-item {
            position: relative;
        }
    }

    .btn--black {
        padding: 1.5em 2em;
        color: $first;
        background: rgba(255, 255, 255, 0.08);
        transform: scale(1);

        &:active {
            transform: scale(.85);
            transition: .8s linear;
        }
    }

    .information {
        padding: 3em 0 3em 0;
        width: 100%;
        display: flex;
        align-items: center;

        &__inner {
            position: absolute;
        }

        &__text {
            max-width: 725px;
            display: flex;
            flex-direction: column;
            border-left: 1.5px solid $yellow;
            padding-left: 2em;
        }

        &__title {
            @extend %rb-bold;
            margin-bottom: 16px;
            color: $yellow;
            font-size: 0.8em;
            // font-size: clamp(6px, 5vh, .8em);
        }

        &__subtitle {
            @extend %rus-regular;
            margin-bottom: 16px;
            font-size: clamp(22px, 7vh, 65px);
            letter-spacing: 0.1em;
        }

        &__descrpt {
            opacity: 0.3;
            font-size: 16px;
            margin: 5px 2px;
        }

        &__img {
            overflow: hidden;
            max-width: 1040px;
            height: 620px;
            margin: 0 0 0 auto;

            .header-1 {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__price {
            margin-top: 100px;
            max-width: 100%;
            display: flex;
            flex-direction: column;

            .information__price_title {
                @extend %rb-light;
                font-size: 12px;
            }

            .information__price_subtitle {
                @extend %rb-bold;
                font-size: 36px;
                margin-bottom: 1em;
            }

            .btn--white {
                position: relative;
                max-width: 13em;
                color: $dark;
                background-color: $first;

                &::after {
                    content: "";
                    top: 40%;
                    right: 6%;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border: 0 solid transparent;
                    border-bottom-width: 7px;
                    border-top-width: 7px;
                    border-left: 8px solid black;
                }
            }
        }
    }

    .description {
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: row;

        &__section_1 {
            width: 70%;
            display: flex;
            justify-content: space-between;
            padding-right: 5em;
        }

        &__column {
            min-width: 45%;
            flex-grow: 1;

            .column__title {
                font-weight: 200;
                margin-bottom: 24px;
            }

            .column__subtitle {
                opacity: 0.3;
            }
        }

        &__slider {
            position: relative;
            min-width: 0;
            width: 530px;
            height: 330px;
            overflow: hidden;

            .slider__img {
                display: block;
                object-fit: cover;
                height: auto;
                margin: 0 auto;
            }

            .slider__img_box {
                overflow: hidden;
                text-align: center;
                width: 100%;
            }

            .slider-arw__header {
                outline: none;
                position: absolute;
                top: 84%;
                width: 55px;
                height: 55px;
                border: none;
                background-color: $first;
            }

            .slider-arw__header_left {
                left: 80%;
                z-index: 1;
            }

            .slider-arw__header_right {
                left: 90%;
            }

            svg {
                padding: 0;
                margin: auto;
                width: 1.8em;
                height: 1.8em;
            }

            .slick-disabled {
                background-color: $dark;
            }
        }
    }
}

.selection {
    position: absolute;
    top: 85%;
    left: 10%;
    width: 100%;
    background-color: $first;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -2px 5px 21px -10px #272727;

    .selection__wrapper {
        padding: 1em 3em;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .selection__column {
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 25%;
        background-color: $first;
        color: $dark;

        &::after {
            content: url(../img/selection-arrw.svg);
            top: 63%;
            left: 42%;
            position: absolute;
        }
    }

    .selection__title {
        margin-bottom: 1em;
    }

    .selection__btn {
        padding: 1.5em 2em;
    }

    .btn--yellow {
        max-width: 245px;
        padding: 1.8em;
        font-size: 20px;
        text-align: center;

        &::after {
            display: none;
        }
    }
}

.about {
    padding: 15em 0 10em 0;

    &__img {
        background-image: url(../img/about-v1.2.jpg);
        opacity: 0;
        transition: 1.1s linear;
        transform: translate(50%, 0px);
    }

    .btn--yellow {
        margin: auto 0 0 0;
    }

    .text__subtitle {
        text-align: start;
    }
}

.about__img.animate {
    opacity: 1;
    transform: translate(0px, 0px);
}

.about__img_team.animate {
    opacity: 1;
    transform: translate(0px, 0px);
}

.about__img_history.animate {
    opacity: 1;
    transform: translate(0px, 0px);
}

.about__img_history {
    background-image: url(../img/history-1.jpg);
    opacity: 0;
    transition: 1.1s linear;
    transform: translate(50%, 0px);
}

.about__img_team {
    background-image: url(../img/about-v1.3.jpg);
    opacity: 0;
    transition: 1.1s linear;
    transform: translate(-50%, 0px);
}

.about__text_fourt {
    margin-top: 5em;
}

.about__section_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
}

.about__section_2_mobile {
    display: none;
}

.about__section_3 {
    max-width: 60%;
}

.about__section_5 {
    width: 100%;
    margin-top: 15em;
}

.about__contacts {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.vendor {
    text-align: center;
    padding: 5em 0;
    display: flex;
    flex-direction: column;

    &__title {
        @extend %rus-regular;
        margin-bottom: 2em;
        font-size: 50px;
    }

    &__menu {
        .menu__link {
            @extend %rb-black;
            font-size: 28px;
            color: #888888;
        }
    }

    .slider-item {
        display: flex !important;
        flex-direction: row !important;
    }
}

.products {
    margin: 10em 0;

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__text {
        position: relative;
        margin: 0 auto;

        &::before {
            content: url(../img/products-bg.svg);
            top: -17%;
            left: -15%;
            position: absolute;
        }
    }

    &__subtitle {
        margin-top: 1em;
    }

    &__cards {
        padding: 5em 0 0 0;
    }

    &__sort {
        margin-bottom: 4em;
    }

    &__sort_mobile {
        display: none;
    }

    &__pagination {
        background-color: $first;

        .pagination__container {
            margin: 0 auto;
            max-width: 402px;
            width: 100%;
        }

        .pagination__inner {
            margin-top: 5em;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        .pagntn__btn {
            cursor: pointer;
            @extend %monts-bold;
            font-size: 20px;
            border-radius: 5px;
            padding: 1em 2em;
        }

        .pagntn__arrw {
            padding: 1.5em 2.2em;
            border: 1.5px solid $dark;
            position: relative;

            &::before {
                content: url(../img/pagination-arrw.svg);
                color: $dark;
                position: absolute;
                top: 30%;
                left: 30%;
            }
        }
    }

    .btn--products {
        margin: auto;
    }
}

.sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort__option {
    display: flex;
    position: relative;
    align-items: center;
    padding: 10px 50px 10px 10px;
    margin-right: 1em;

    &::after {
        content: url(../img/products-arrw.svg);
        top: 25%;
        left: 87%;
        position: absolute;
    }
}

.sort__text {
    margin-right: 4em;
    @extend %rb-bold;
    font-size: 18px;
}

.option_text {
    @extend %rb-regular;
    font-size: 18px;
}

.relult_text {
    @extend %rus-regular;
    font-size: 30px;
}

.overview {
    padding: 100px 0;

    .text {
        max-width: auto;
        margin-bottom: 60px;

        &__subtitle {
            max-width: 720px;
            margin: 0 auto;
            margin-bottom: 32px;
        }
    }

    .video {
        position: relative;
        padding: 0 0 56.25% 0;
        height: 0;
        overflow: hidden;
        height: 530px;
        background-color: $gray;

        &__iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            outline: 1px solid $dark;
            border: none;
        }
    }
}

.advantages {
    position: relative;
    margin: 10em 0 5em 0;

    .text {
        position: relative;
        max-width: auto;
        margin-bottom: 60px;

        &__title {
            text-transform: uppercase;
            color: $yellow;
        }

        &__descrpt {
            margin: 0 auto;
            margin-bottom: 32px;
        }

        &::before {
            content: url(/img/skill-bg.svg);
            position: absolute;
            top: -6%;
            left: 15%;
        }
    }
}

.testimonials {
    // margin-top: 5em;
    padding: 7em 0 7em 0;
}

.footer__column {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    .menu__item {
        @extend %rb-thin;
    }

    .menu__link {
        // line-height: 2em;
        letter-spacing: 1px;
        font-size: 18px;
        color: $first;
        opacity: 0.5;

        &:hover {
            opacity: 1;
            color: $yellow;
            transition: 0.2s linear;
        }
    }

    .menu__item_title {
        @extend %rb-bold;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    .menu__item_title {
        .menu__link {
            line-height: 0px;
        }
    }
}

.gallary {
    display: flex;
    flex-direction: column;
    margin-top: 5em;

    &__inner {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 2em;
    }

    &__title {
        font-size: 28px;
        @extend %rus-regular;
    }

    &__inner_top {
        display: flex;
        justify-content: space-between;
    }

    &__inner_btm {
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
    }

    &__img_1 {
        background-image: url("../img/headerSlider-3.jpg");
        margin-right: 1em;
    }

    &__img_2 {
        background-image: url("../img/headerSlider-6.jpg");
    }

    &__img_3 {
        background-image: url("../img/headerSlider-5.jpg");
    }

    &__img_4 {
        background-image: url("../img/headerSlider-4.jpg");
    }
}

.rating {
    padding: 10em 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    background-color: #464646;
    color: $first;
    position: relative;

    &::before {
        content: url(../img/rate.svg);
        top: 90%;
        bottom: 0;
        right: 0;
        left: 12.5%;
        position: absolute;
    }

    &__score {
        font-size: 144px;
        @extend %rus-regular;
    }

    &__score_second {
        font-size: 24px;
    }

    &__title {
        font-size: 28px;
        @extend %rb-medium;
    }
}

@import "media";