.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
    color: #5AFC40;
    background-color: transparent;;
}

.team-container p {
    font-size: 12px;
    color: grey;
}

.team-card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    border-radius: 3%;
    margin-top: 10%;
}

.team-card:hover {
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.5);
}

.team-card img {
    width: 100%;
    border-radius: 50%;
}

.team-card img:hover {
    box-shadow: 0 0 3px 3px rgba(0, 128, 0, 0.5);
}

@media only screen and (max-width: 768px) {
    .team-container {
        flex-direction: column;
        align-items: center;
    }
}