.product-details {
    --fs-1: 2.2rem;
    --fs-2: 2rem;
    animation: ease-in 10s;
}

.product-details .wrapper {
    padding-block-end: 50px;
    border-block-end: 1px solid grey;
    margin-block-end: 40px;
}

.product-details-img {
    margin-block-end: 10px;
}

.product-display {
    background-color: grey;
    margin-block-end: 15px;
}

.fade-anim {
    animation: fade 0.25s ease forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.product-thumbnail-list {
    padding-block-end: 10px;
    margin-block-end: 0;
    gap: 10px;
}

.product-thumbnail-item {
    background-color: grey;
    min-width: calc(50% - 5px);
    scroll-snap-align: start;
}

.product-title,
.product-price {
    color: #8d8ea0;
    font-weight: 700;
}

.product-title {
    font-size: 3rem;
    margin-block-end: 5px;
}

.product-price {
    font-size: 2.4rem;
    font-weight: 600;
}

.product-details-content>.rating-wrapper {
    --justify-content: flex-start;
    margin-block: 20px 30px;
    color: silver;
}

.description-title {
    color: #8d8ea0;
    font-size: var(--fs-3);
    margin-block-end: 15px;
    font-weight: 700;
}

.description-text {
    color: lightslategrey;
    line-height: 1.8;
    margin-block-end: 30px;
    font-weight: 300;
}

@media (min-width: 480px) {
    .product-details {
        --fs-1: 3.4rem;
        --fs-2: 2.8rem;
    }

    .product-title {
        margin-block-end: 15px;
    }
}

@media (min-width: 768px) {
    .product-thumbnail-item {
        min-width: calc(33.33% - 6.66px);
    }

    .product-weight-title {
        --fs-7: 1.5rem;
    }

    .product-qty-input {
        padding-block: 16.5px;
    }

    .product-qty-btn {
        --fs: 1.8rem;
        --padding: 16px 40px;
    }

    .description-title {
        --fs-3: 2.2rem;
    }
}

@media (min-width: 992px) {
    .product-details .wrapper {
        display: grid;
        grid-template-columns: 0.7fr 1fr;
        gap: 60px;
    }
}

@media (min-width: 1200px) {
    .product-thumbnail-item {
        min-width: calc(25% - 7.5px);
    }
}